/* 
* ---------------------------------------------------
* File contains all application-wide sass variables.
* ---------------------------------------------------
*/

$text-color: #454545 !default;
$main-bg-color: #ffffff !default;

$nav-color: #bed8cd !default;

$button-before: #f0d59a;
$button-after: #ebbc56;

$card-header-color: #f5f0e5;
